# Question 1

In [1]:
library(dplyr)
library(rvest)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Loading required package: xml2

In [2]:
airquality %>% head

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

(1) What are the dimensions of the data?

In [3]:
airquality %>% dim

[1] 153   6

(2) What are the column names?

In [4]:
airquality %>% colnames

[1] "Ozone"   "Solar.R" "Wind"    "Temp"    "Month"   "Day"

(3) Remove those rows with missing data.

In [5]:
airquality_nona = airquality %>% na.omit
airquality_nona %>% head

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
7 23    299      8.6 65   5     7
8 19     99     13.8 59   5     8

(4) Find the sub set of the data where the “Month” is 5.

In [6]:
airquality_month5 = airquality_nona[airquality_nona$Month == 5,]
airquality_month5 %>% head

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
7 23    299      8.6 65   5     7
8 19     99     13.8 59   5     8

(5) How many rows of data are there with “Wind” between 7 and 8 inclusive?

In [7]:
airquality_wind78 = airquality[(airquality$Wind <= 8) & (airquality$Wind >= 7),]
airquality_wind78 %>% nrow

[1] 21

(6) *Suppose there is an air index calculated using the following formula
 $$index = \dfrac{Solar.R \times Wind}{Temp}$$
Add a column named “Index” with the value calculated with the above formula to
Airquality data set.

In [8]:
airquality$Index = airquality$Solar.R * airquality$Wind / airquality$Temp
airquality %>% head

  Ozone Solar.R Wind Temp Month Day Index
1 41    190      7.4 67   5     1   20.98507
2 36    118      8.0 72   5     2   13.11111
3 12    149     12.6 74   5     3   25.37027
4 18    313     11.5 62   5     4   58.05645
5 NA     NA     14.3 56   5     5         NA
6 28     NA     14.9 66   5     6         NA

(7) *Find the sub set of the new Airquality data with only “Solar.R”, ”Index”, ”Month”,
and ”Day” columns and without missing value.

In [9]:
airquality_7 = airquality[c('Solar.R', 'Index', 'Month', 'Day')] %>% na.omit
airquality_7 %>% head

  Solar.R Index    Month Day
1 190     20.98507 5     1
2 118     13.11111 5     2
3 149     25.37027 5     3
4 313     58.05645 5     4
7 299     39.56000 5     7
8  99     23.15593 5     8

(8) Find the last “Day” of each “Month”.

In [10]:
airq_month = airquality$Day %>% tapply(airquality$Month, max) %>% as.data.frame
airq_month

  .
5 31
6 30
7 31
8 31
9 30

(9) Find the maximum and minimum temperature of each month.

In [11]:
airq_month$min = (airquality$Temp %>% tapply(airquality$Month, min) %>% as.vector)
airq_month$max = (airquality$Temp %>% tapply(airquality$Month, max) %>% as.vector)
airq_month$lastday = airq_month$.
airq_month$. = NULL
airq_month

  min max lastday
5 56  81  31
6 65  93  30
7 73  92  31
8 72  97  31
9 63  93  30

# Q2. 

Construct a data frame containing all countries in the world and the corresponding continents by crawling data from http://statisticstimes.com/geography/countries-by-continents.php.

In [12]:
countries_html = read_html('http://statisticstimes.com/geography/countries-by-continents.php')

In [13]:
continents = html_nodes(countries_html, '.display')
continents

{xml_nodeset (6)}
[1] <table id="table_id1" class="display" style="width:370px;display:table;bo ...
[2] <table id="table_id2" class="display" style="width:370px;display:table;bo ...
[3] <table id="table_id3" class="display" style="width:370px;display:table;bo ...
[4] <table id="table_id4" class="display" style="width:370px;display:table;bo ...
[5] <table id="table_id5" class="display" style="width:370px;display:table;bo ...
[6] <table id="table_id6" class="display" style="width:370px;display:table;bo ...

In [14]:
countries_df = data.frame(Continent=character(1), Country=character(1), stringsAsFactors=F)

for (i in 1:(length(continents))) {
    continent = (continents[i]
        %>% html_nodes("caption") 
        %>% html_text 
        %>% strsplit(" [(]") 
        %>% `[[`(1) 
        %>% `[[`(1)
    )
    
    countries_nodes = continents[i] %>% html_nodes('.name')
    countries_nodes = countries_nodes[c(T, F)]
    for (j in 1:(length(countries_nodes))) {
        country = countries_nodes[j] %>% html_text
        countries_df = rbind(countries_df, c(continent, country))
    }
}

countries_df = countries_df[-1,]
rownames(countries_df) = NULL
countries_df

    Continent     Country
1   Africa        Burundi
2   Africa        Comoros
3   Africa        Djibouti
4   Africa        Eritrea
5   Africa        Ethiopia
6   Africa        Kenya
7   Africa        Madagascar
8   Africa        Malawi
9   Africa        Mauritius
10  Africa        Mayotte
11  Africa        Mozambique
12  Africa        Réunion
13  Africa        Rwanda
14  Africa        Seychelles
15  Africa        Somalia
16  Africa        South Sudan
17  Africa        Uganda
18  Africa        United Republic of Tanzania
19  Africa        Zambia
20  Africa        Zimbabwe
21  Africa        Angola
22  Africa        Cameroon
23  Africa        Central African Republic
24  Africa        Chad
25  Africa        Congo
26  Africa        Democratic Republic of the Congo
27  Africa        Equatorial Guinea
28  Africa        Gabon
29  Africa        Sao Tome and Principe
30  Africa        Algeria
... ...           ...
212 South America Paraguay
213 South America Peru
214 South America Suriname
215 South America Uruguay
216 South America Venezuela (Bolivarian Republic of)
217 Oceania       Australia
218 Oceania       New Zealand
219 Oceania       Norfolk Island
220 Oceania       Fiji
221 Oceania       New Caledonia
222 Oceania       Papua New Guinea
223 Oceania       Solomon Islands
224 Oceania       Vanuatu
225 Oceania       Guam
226 Oceania       Kiribati
227 Oceania       Marshall Islands
228 Oceania       Micronesia (Federated States of)
229 Oceania       Nauru
230 Oceania       Northern Mariana Islands
231 Oceania       Palau
232 Oceania       American Samoa
233 Oceania       Cook Islands
234 Oceania       French Polynesia
235 Oceania       Niue
236 Oceania       Pitcairn
237 Oceania       Samoa
238 Oceania       Tokelau
239 Oceania       Tonga
240 Oceania       Tuvalu
241 Oceania       Wallis and Futuna Islands

# Q3.

The file “MovieData.csv” lists financial data on movies released since 1980 with budgets of at least $20 million.

In [15]:
movie = read.csv('MovieData.csv', stringsAsFactors=F)
movie %>% head

  Movie                                     Distributor      Budget
1 Pirates of the Caribbean: At World's End  Buena Vista      $300,000,000
2 Spider-Man 3                              Sony             $258,000,000
3 Harry Potter and the Half-Blood Prince    Warner Bros.     $250,000,000
4 Avatar                                    20th Century Fox $237,000,000
5 Superman Returns                          Warner Bros.     $232,000,000
6 Quantum of Solace                         Sony Pictures    $230,000,000
  US.Gross      Worldwide.Gross Release.Date
1 $309,420,425  $960,996,492    25/5/2007
2 $336,530,303  $890,871,626    4/5/2007
3 $301,959,197  $937,499,905    15/7/2009
4 $601,141,551  $2,046,141,551  18/12/2009
5 $200,120,000  $391,120,000    28/6/2006
6 $169,368,427  $576,368,427    14/11/2008

In [16]:
movie$US.Gross <- as.numeric(gsub("\\,", "", gsub("\\$", "", movie$US.Gross)))
movie$Budget <- as.numeric(gsub("\\,", "", gsub("\\$", "", movie$Budget)))
movie$Worldwide.Gross <- as.numeric(gsub("\\,", "", gsub("\\$", "", movie$Worldwide.Gross)))

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

Create three new variables, Ratio1, Ratio2, and Decade. Ratio1 should be US Gross divided by Budget, and Ratio2 should be Worldwide Gross divided by Budget, and Decade should list 1980s, 1990s, or 2000s, depending on the year of the release date.

In [17]:
getDecade = function(x) {
    dec = substr(x, nchar(x)-1, nchar(x)-1)
    if (dec == '0') {
        return('2000s')
    } else if (dec == '9') {
        return('1990s')
    } else {
        return('1980s')
    }
}

In [18]:
movie$Ratio1 = movie$US.Gross/movie$Budget
movie$Ratio2 = movie$Worldwide.Gross/movie$Budget
movie$Decade = movie$Release.Date %>% lapply(getDecade)
movie %>% head

  Movie                                     Distributor      Budget   US.Gross
1 Pirates of the Caribbean: At World's End  Buena Vista      3.00e+08 309420425
2 Spider-Man 3                              Sony             2.58e+08 336530303
3 Harry Potter and the Half-Blood Prince    Warner Bros.     2.50e+08 301959197
4 Avatar                                    20th Century Fox 2.37e+08 601141551
5 Superman Returns                          Warner Bros.     2.32e+08 200120000
6 Quantum of Solace                         Sony Pictures    2.30e+08 169368427
  Worldwide.Gross Release.Date Ratio1    Ratio2   Decade
1  960996492      25/5/2007    1.0314014 3.203322 2000s
2  890871626      4/5/2007     1.3043810 3.452991 2000s
3  937499905      15/7/2009    1.2078368 3.750000 2000s
4 2046141551      18/12/2009   2.5364622 8.633509 2000s
5  391120000      28/6/2006    0.8625862 1.685862 2000s
6  576368427      14/11/2008   0.7363845 2.505950 2000s

Find counts of movies by various distributors. Then create one more column, Distributor.New, which lists the distributor for distributors with at least 30 movies and lists Other for the rest.

In [19]:
distributor_count = movie$Distributor %>% table

In [20]:
list_distri_30 = function(x) {
    if (x == '') {
        return('Other')
    } else if (distributor_count[x] >= 30) {
        return(x)
    } else {
        return('Other')
    }
}

In [21]:
movie$Distributor.New = movie$Distributor %>% lapply(list_distri_30)
movie %>% head

  Movie                                     Distributor      Budget   US.Gross
1 Pirates of the Caribbean: At World's End  Buena Vista      3.00e+08 309420425
2 Spider-Man 3                              Sony             2.58e+08 336530303
3 Harry Potter and the Half-Blood Prince    Warner Bros.     2.50e+08 301959197
4 Avatar                                    20th Century Fox 2.37e+08 601141551
5 Superman Returns                          Warner Bros.     2.32e+08 200120000
6 Quantum of Solace                         Sony Pictures    2.30e+08 169368427
  Worldwide.Gross Release.Date Ratio1    Ratio2   Decade Distributor.New
1  960996492      25/5/2007    1.0314014 3.203322 2000s  Buena Vista
2  890871626      4/5/2007     1.3043810 3.452991 2000s  Sony
3  937499905      15/7/2009    1.2078368 3.750000 2000s  Warner Bros.
4 2046141551      18/12/2009   2.5364622 8.633509 2000s  20th Century Fox
5  391120000      28/6/2006    0.8625862 1.685862 2000s  Warner Bros.
6  576368427      14/11/2008   0.7363845 2.505950 2000s  Other

Show average and standard deviation of Ratio1, broken down by
Distributor.New and Decade. Comment on it.

In [22]:
movie$Distributor.New = movie$Distributor.New %>% unlist %>% as.factor
movie$Decade = movie$Decade %>% unlist %>% as.factor
movie_no_na_ratio1 = movie[!is.na(movie$Ratio1),]
movie_no_na_ratio1 %>% head

  Movie                                     Distributor      Budget   US.Gross
1 Pirates of the Caribbean: At World's End  Buena Vista      3.00e+08 309420425
2 Spider-Man 3                              Sony             2.58e+08 336530303
3 Harry Potter and the Half-Blood Prince    Warner Bros.     2.50e+08 301959197
4 Avatar                                    20th Century Fox 2.37e+08 601141551
5 Superman Returns                          Warner Bros.     2.32e+08 200120000
6 Quantum of Solace                         Sony Pictures    2.30e+08 169368427
  Worldwide.Gross Release.Date Ratio1    Ratio2   Decade Distributor.New
1  960996492      25/5/2007    1.0314014 3.203322 2000s  Buena Vista
2  890871626      4/5/2007     1.3043810 3.452991 2000s  Sony
3  937499905      15/7/2009    1.2078368 3.750000 2000s  Warner Bros.
4 2046141551      18/12/2009   2.5364622 8.633509 2000s  20th Century Fox
5  391120000      28/6/2006    0.8625862 1.685862 2000s  Warner Bros.
6  576368427      14/11/2008   0.7363845 2.505950 2000s  Other

In [23]:
tapply(movie_no_na_ratio1$Ratio1, list(movie_no_na_ratio1$Distributor.New, movie_no_na_ratio1$Decade), mean)

                   1980s     1990s     2000s
20th Century Fox   6.4536975 1.8679641 1.404828
Buena Vista        1.2974482 1.5540065 1.510537
DreamWorks SKG            NA 1.4596695 1.481016
MGM/UA             1.4262821 0.9595735 1.000322
Miramax                   NA 1.5197719 1.036425
New Line                  NA 1.6329213 1.368126
Other              1.5497760 1.3136328 0.941412
Paramount Pictures 4.1700674 1.9199089 1.226040
Sony               0.7612549 1.2123869 1.195014
Universal          1.3704634 1.4009825 1.311114
Warner Bros.       1.8047455 1.2542762 1.103905

In [24]:
tapply(movie_no_na_ratio1$Ratio1, list(movie_no_na_ratio1$Distributor.New, movie_no_na_ratio1$Decade), sd)

                   1980s     1990s     2000s
20th Century Fox   5.5448037 2.1710730 0.9410372
Buena Vista        1.2786737 1.8407333 1.1530428
DreamWorks SKG            NA 0.7710682 1.2578074
MGM/UA             0.7798574 0.6295403 0.8098184
Miramax                   NA 1.6972159 1.1267733
New Line                  NA 1.5479200 1.2312609
Other              2.1991272 1.7750028 1.4384081
Paramount Pictures 3.4681975 1.7233681 0.9187660
Sony               0.5683376 1.0230688 0.8240998
Universal          0.8200718 1.1749222 1.0150481
Warner Bros.       1.7566241 0.9931940 0.9558664

Do the same for Ratio2

In [25]:
movie_no_na_ratio2 = movie[!is.na(movie$Ratio2),]
movie_no_na_ratio2 %>% head

  Movie                                     Distributor      Budget   US.Gross
1 Pirates of the Caribbean: At World's End  Buena Vista      3.00e+08 309420425
2 Spider-Man 3                              Sony             2.58e+08 336530303
3 Harry Potter and the Half-Blood Prince    Warner Bros.     2.50e+08 301959197
4 Avatar                                    20th Century Fox 2.37e+08 601141551
5 Superman Returns                          Warner Bros.     2.32e+08 200120000
6 Quantum of Solace                         Sony Pictures    2.30e+08 169368427
  Worldwide.Gross Release.Date Ratio1    Ratio2   Decade Distributor.New
1  960996492      25/5/2007    1.0314014 3.203322 2000s  Buena Vista
2  890871626      4/5/2007     1.3043810 3.452991 2000s  Sony
3  937499905      15/7/2009    1.2078368 3.750000 2000s  Warner Bros.
4 2046141551      18/12/2009   2.5364622 8.633509 2000s  20th Century Fox
5  391120000      28/6/2006    0.8625862 1.685862 2000s  Warner Bros.
6  576368427      14/11/2008   0.7363845 2.505950 2000s  Other

In [26]:
tapply(movie_no_na_ratio2$Ratio2, list(movie_no_na_ratio2$Distributor.New, movie_no_na_ratio2$Decade), mean)

                   1980s     1990s    2000s
20th Century Fox   15.271532 4.908986 3.085809
Buena Vista         5.021429 4.951337 3.013854
DreamWorks SKG            NA 2.987287 3.077311
MGM/UA              5.475809 2.965809 1.948251
Miramax                   NA 6.654492 2.469122
New Line                  NA 4.305882 2.653540
Other               5.590751 4.646881 2.065958
Paramount Pictures 10.471540 4.798510 2.041589
Sony                1.205438 3.207800 2.206329
Universal           6.449945 4.011126 2.583798
Warner Bros.        5.793610 3.128984 2.415693

In [27]:
tapply(movie_no_na_ratio2$Ratio2, list(movie_no_na_ratio2$Distributor.New, movie_no_na_ratio2$Decade), sd)

                   1980s    1990s    2000s
20th Century Fox   9.352457 5.202599 2.177361
Buena Vista              NA 4.499135 1.976497
DreamWorks SKG           NA 2.085291 2.519094
MGM/UA             1.394038 1.428849 1.740536
Miramax                  NA 3.731387 2.770740
New Line                 NA 3.624802 2.545434
Other              5.905503 5.202903 2.528350
Paramount Pictures 6.045767 4.165078 1.459566
Sony                     NA 2.114846 1.431744
Universal          3.229868 3.486881 2.021036
Warner Bros.       5.412259 2.326209 2.115872